<h2>Sürücüler</h2>
<ul class="heroes">
    <li *ngFor="let driver of drivers">
        <a routerLink="/driver/{{driver.__id}}">
            <span class="badge">{{driver.__id}}</span>{{driver.name}} {{driver.surname}}
        </a>
    </li>
</ul>