<div *ngIf="vehicle">
    <h2>{{vehicle.plateNum | uppercase}}</h2>
    <div><span>Sicil: </span>{{vehicle.__id}}</div>
    <div>
        <label>Marka:
            <input [(ngModel)]="vehicle.brand" placeholder="marka" />
        </label>
    </div>
    <div><span>Model: </span>{{vehicle.model}}</div>
    <div><span>Model Yılı: </span>{{vehicle.modelYear}}</div>
    <div><span>Alım Bedeli: </span>{{vehicle.boughtValue}}</div>
    <div><span>Tipi: </span>{{vehicle.type}}</div>
    <div><span>Plaka Numarası: </span>{{vehicle.plateNum}}</div>
    <div><span>Gereken Belgeler: </span>{{vehicle.requiredLicences}}</div>
</div>