<h2>Araçlar</h2>
<ul class="heroes">
    <li *ngFor="let vehicle of vehicles">
        <a routerLink="/vehicle/{{vehicle.__id}}"><span class="badge">
                {{vehicle.__id}}</span>{{vehicle.plateNum}}
        </a>
    </li>
</ul>