<div *ngIf="driver">
    <h2>{{driver.name | uppercase}}</h2>
    <div><span>Sicil: </span>{{driver.__id}}</div>
    <div>
        <label>Ad:
            <input [(ngModel)]="driver.name" placeholder="isim" />
        </label>
    </div>
    <div><span>Soyad: </span>{{driver.surname}}</div>
    <div><span>Maaş: </span>{{driver.salary}}</div>
    <div><span>TCKN: </span>{{driver.nationalId}}</div>
    <div><span>Hizmet Süresi: </span>{{driver.serviceTime}}</div>
    <div><span>Belgeler: </span>{{driver.licences}}</div>
</div>